@import "tailwindcss";

@theme inline {
  --color-brand-primary: #14274E;
  --color-brand-secondary: #394867;
  --color-brand-accent: #9BA4B4;
  --color-brand-bg: #F1F6F9;

  --font-inter: var(--font-outfit), sans-serif;
  --font-montserrat: var(--font-space), sans-serif;

  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-secondary);
  font-family: var(--font-outfit);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}